body {
    background: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 100vh;
    display: grid;
    background-image: url("../img/background.jpg");
    backdrop-filter: blur(5px);
    height: 100vh;
    place-items: center;
}
main{
    width: 100%;
    display: flex;
}

/* header */
header {
    position: relative;
    z-index: 400;
    margin: 5px;
    border-radius: 10px;
    width: 80vw;
    height: 6em;
    background: linear-gradient(to right,rgb(255, 223, 228) ,skyblue);
    backdrop-filter: blur(2px);
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

    & a,
    .home {
        font-size: 1.5em;
        text-wrap: nowrap;
        padding: 1rem;
        border-radius: 10px;
        transition: all .2s;
        color: grey;
        font-weight: 700;
    }

    & a:hover,
    .home:hover {
        color: rgb(185, 185, 185);
        text-decoration: none;
    }
}

.ham-menu {
    position: absolute;
    right: 2em;
    transform: rotate(90deg) scale(2);
    font-weight: 700;
    color: #9D9D9D;
    top: 2.5em;
    letter-spacing: .5px;
    transition: .2s;
    cursor: pointer;
    user-select: none;
}

.ham-nav {
    z-index: 200;
    transition: .2s;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to top,rgb(255, 223, 228) ,skyblue);
    border-radius: 10px;
    position: absolute;
    top: 6em;
    padding: 1em;
}

#ham-menu:checked {
    &~.ham-menu {
        transform: rotate(0) scale(2);
    }

    &~.ham-nav {
        display: flex;
    }
}

/* mas-form */
.msg-add,
.msg-edit,
.msg-list {
    max-width: 80%;
    margin: 2em auto;
    padding: 2em;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

    &>form>button {
        color: #f4f4f4;
        border: 0;
        background-color: gray;
        border-radius: .2em;
    }

    &>nav {
        display: flex;
        justify-content: center;

        &>button {
            font-size: 1.1em;
            border: 0;
            color: #f4f4f4;
            font-weight: 600;
            border-radius: 5px;
            margin: .3em;
            letter-spacing: 1.5px;
            background-color: #9D9D9D;
        }
    }
}


::file-selector-button {
    background-color: #8e8e8e;
    color: white;
    font-weight: 700;
    border: 0;
    border-radius: .2em;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea {
    width: 100%;
    padding: 0.75em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.custom-file-label {
    display: inline-block;
    padding: 0.75em 1.5em;
    background-color: #6C6C6C;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
    text-align: center;
}

/* msg-list */

.msg-list {
    & img {
        width: 300px;
    }
    & td {
        border: 2px black solid;
    }
    
}

/* hidden */
.hidden {
    display: none;
}

/* order */
.order-main{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 設置 2 列 */
}
.order-img{
    cursor: pointer;
    width: 15em;
    height: 15em;
    margin: 20px auto;
    overflow: hidden;
    border: skyblue 2px solid;
    box-shadow: 0 0 2px 5px sky;
    border-radius: 20px;
    &>img{
        height: 100%;
    }
}
/* booking */
.calendar {
    display: inline-block;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 20px;
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calendar-header button {
    padding: 5px 10px;
}
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}
.day {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
.day-header {
    font-weight: bold;
    color: #555;
}